<!DOCTYPE html>
<!--
# Team textBoxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
# SoftDev
# P00 -- Scenario One Project
# 2021-11-12
 -->


<html>

  <head>
    <title> WELCOME PAGE </title>
  </head>

  <body>
    <center>
      <h1>
        Welcome to our story site! <br>
        We are Team Text Boxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
      </h1>
  
      <form method="post">
        <br>
        <input formaction = "/login" type="submit" name="Log In" value = "Log In">
        <br>
        <br>
        <input formaction = "/register" type="submit" name="Register" value = "Register">
      </form>
    </center>
  </body>