<!DOCTYPE html>
<!--
# Team textBoxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
# SoftDev
# P00 -- Scenario One Project
# 2021-11-12
 -->
<html>

  <head>
    <title> Create Story </title>
  </head>

  <body>
    <h1>Add to a Story</h1>
    <form action="/updatestory" method="post">
    	<p style="color:red;">{{error}}</p>
        <b>{{title}}</b> created by {{origin}}<br>
    	Latest Entry (by {{poster}})<br>
        {{lastentry}}
        <br>
        <br>
    	<b>New Entry</b><br>
    	<textarea rows= "5" cols= "50" name= "newentry">{{entry}}</textarea>
    	<br>
        <input type="submit" name="updatestory" value = "Upload">
    </form>
