<!DOCTYPE html>
<!--
# Team  textBoxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
# SoftDev
# P00 -- Scenario One
# 2021-11-12
-->

<html>
  <head>
    <title> HOME PAGE </title> <!-- title of webpage (not in actual website) -->
  </head>
  <body>
    <h1>
      Hello {{username}}! <br> <!-- inputs username from form -->
      We are Team textBoxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley) <br>
      Welcome to our story site.
    </h1>
    <br>

    <form action = "/makestory" method="post">
      <input type="submit" name="S" value="Create Story">
    </form>
    <br>
    
    <form action = "/findstories" method="post">
      <input type="submit" name="S" value="Find Stories">
    </form>
    <br><br>
    
    <h2>Stories You Have Contributed To</h2>
    {% if num==0 %}
    You haven't contributed to any stories :(
    {% else %}
      <table>
      <tr>
        <th>Created By</th>
        <th>Title</th>
        <th></th>
      </tr>
    
      {% for i in range(num) %}
      <tr>
        <td>{{poster[i]}}</td>
        <td>{{titles[i]}}</td>
        <td>
        <form action = "/displaystory" method = "post">
        <input type = "hidden" name = "title" Value = '{{titles[i]}}'>
        <input type = "hidden" name = "poster" Value = '{{poster[i]}}'>
        <input type = "submit" name = "name" Value = "View Story">
        </form>
        </td>
      
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <br><br><br>
    
    <form action = "/out">
      <input type="submit" name="S" value="Log out">
    </form>
  
  </body>
</html>