<!DOCTYPE html>
<!--
# Team textBoxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
# SoftDev
# P00 -- Scenario One Project
# 2021-11-12
 -->


<html>

  <head>
    <title> HOME PAGE </title>
  </head>

  <body>
    <h1>
      Welcome to our story site! <br>
      We are Team textBoxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
    </h1>

    <form>
        <input formaction = "/login" type="submit"  value="Log In">
        <input formaction = "/register" type="submit" value="Register">
    </form>