<!DOCTYPE html>
<!--
# Team textBoxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
# SoftDev
# P00 -- Scenario One Project
# 2021-11-12
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>
  <center>
    <body>
      <h1>
        Welcome to our story site! <br>
        We are Team Text Boxes (Angela Zhang, Aaron Contreras, Sadid Ethun, Gavin McGinley)
      </h1>
      <br>
      <h2>
        Enter your username and password below to proceed.
      </h2>
      <h3 style="color:red;">
        {{error}} <!-- If there is no error (initial start and logging out), this is empty --> <br>
      </h3>
      <form action="/auth" method = "post"> <!-- same pathway as authenticate() -->
         Username: <input type="text" name="username"> <br>
         Password: <input type="password" name="password"> <br> <br>
        <input type="submit" name="sub1"> <!-- used for response page to load -->
        <br><br>
        <input formaction = "/register" type="submit" value="Register">
      </form>
      <br>
    </body>
  </center>

</html>
