<!DOCTYPE html>

<html>

<head>
  <title> Recent Stories </title>
</head>

<body>
  <form action="/editstory" method="post">
    <h2>New Stories to Edit</h2>
    <h3>Select a story.</h3>
    {% for i in range(num) %}
    <b>{{titles[i]}}</b><input type="radio" name="toedit" id={{buttons[i]}} value={{buttons[i]}}>
    <br>
    Latest Entry (by {{poster[i]}})<br>
    {{lastentry[i]}}
    <br><br>
    {% endfor %}
    <br>
    <input type="submit" name="onwardtostory" value="Edit Story">
  </form>
</body>
